.footer-custom {
  width: 98.96vw;                 /* ياخد العرض الكامل */
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);  /* يضمن تمركزه تمام حتى لو RTL */
  margin-top: 30px;             /* يخليه يطلع فوق شوية من آخر الصفحة */
  box-sizing: border-box;
}
