@import "tailwindcss";

.active {
  border-bottom: 2px solid #fff;
  background-color: rgba(173, 151, 151, 0.7);
}


.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #dc3545;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: sk-stretchdelay 1s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -0.9s;
}
.spinner .rect3 {
  animation-delay: -0.8s;
}
.spinner .rect4 {
  animation-delay: -0.7s;
}
.spinner .rect5 {
  animation-delay: -0.6s;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}

#root {
  padding-bottom: 0 !important;
}
